<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canteen_app">
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".StatusCodActivity"
            android:exported="false" />
        <activity
            android:name=".StatusQrisActivity"
            android:exported="false" />
        <activity
            android:name=".PesananSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".PesananAktifActivity"
            android:exported="false" />
        <activity
            android:name=".DetailTokoActivity"
            android:exported="false" />
        <activity
            android:name=".pembayaranselesai"
            android:exported="false" />
        <activity
            android:name=".Qris"
            android:exported="false" />
        <activity
            android:name=".metodepembayaran"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BerandaActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".TentangAplikasiActivity"
            android:exported="false" />
    </application>

</manifest>